.intro{
  font-style: italic;
  color: purple;
}
.important{
  color: red;
  font-size: 124%;
}
.weird{
  font-size: 50%;
  font-style: italic;
}
.entry{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid black;
  padding-left: 5px;
}
